name: GH-Page Publish 

on:
  push:
    branches: 
      - main 
      - test-pages

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Deploy Pages 
      run: | 
        eval "$(ssh-agent -s)"        
        ssh-add - <<< "${DEPLOY_KEY}"
        cd docs
        ./deploy.sh
      env:
        GH_REPOSITORY : ${{ github.repository }} 
        GIT_SSH_COMMAND: "ssh -o StrictHostKeyChecking=no"
        DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
        SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        CI: true
